include css.pug
style(media='print').
  @page {
    size:landscape;
    margin-top: 1cm;
    margin-left: 1cm;
    margin-right: 1cm;
  }
style.
  table, tr, td, th {
    font-size: 12pt;
    padding: 2;
   }
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    //- .center(style='font-weight: bold;') #{hospname}
    //- .center(style='font-weight: bold;') รายการสั่งซื้อยา
    //- .center ณ วันที่ #{sdate}
    table
      thead
        tr
          td(colspan="12").center(style='font-weight: bold;') #{hospname}
        tr
          td(colspan="12").center(style='font-weight: bold;') รายการสั่งซื้อยา
        tr
          td(colspan="12").center ณ วันที่ #{sdate}
        tr(style=" border: 1px solid black;") 
          th(style=" border: 1px solid black;font-size:12pt;")( valign='middle') ชื่อยา
          th(style=" border: 1px solid black;font-size:12pt;") ขนาด
          th(style=" border: 1px solid black;font-size:12pt;") รูปแบบ
          th(style=" border: 1px solid black;font-size:12pt;")(width='10px') จำนวนขั้นต่ำ
          th(style=" border: 1px solid black;font-size:12pt;") อัตรา
            |  
            br 
            | การใช้
            br 
            | ต่อเดือน
          th(style=" border: 1px solid black;font-size:12pt;") ราคา
            |
            br 
            | หลังสุด
          th(style=" border: 1px solid black;font-size:12pt;") จำนวน
            |
            br 
            | คงคลัง
          th(style=" border: 1px solid black;font-size:12pt;")(valign='bottom') สั่งเพิ่ม
          th(style=" border: 1px solid black;font-size:12pt;")(valign='bottom') ยอดสั่ง
          th(style=" border: 1px solid black;font-size:12pt;")(valign='bottom') ชื่อการค้า
          th(style=" border: 1px solid black;font-size:12pt;")(valign='bottom') บริษัทจำหน่าย
          th(style=" border: 1px solid black;font-size:12pt;")(valign='bottom') บริษัทที่ผลิต
      tbody
        - var y=0
        for b in results
          - y++
            tr(style=" border: 1px solid black;")
              td(style=" border: 1px solid black;") #{b.generic_name}
              td(style=" border: 1px solid black;").left #{b.qty}
              td(style=" border: 1px solid black;").left #{b.primary_unit_name}
              td(style=" border: 1px solid black;").right #{b.min_qty}
              td(style=" border: 1px solid black;").right #{b.max_qty}
              td(style=" border: 1px solid black;").right #{b.unit_cost}
              td(style=" border: 1px solid black;").right #{b.remain_qty} x #{b.qty} #{b.primary_unit_name}
              td(style=" border: 1px solid black;").right #{fill[y-1]} x #{b.qty} #{b.primary_unit_name}
              td(style=" border: 1px solid black;").right 
              td(style=" border: 1px solid black;") #{b.product_name}
              td(style=" border: 1px solid black;") #{b.vlabeler}
              td(style=" border: 1px solid black;") #{b.mlabeler}