include css.pug
doctype html
style(type='text/css').
  @page{
    margin-top: 1.5cm;
    margin-left: 1cm;
    margin-right: 1cm;
  }
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    .center(style='font-weight: bold;') #{hospname}
    .center(style='font-weight: bold;') รายการเวชภัณฑ์ที่สั่งซื้อ
    .center(style='padding-bottom: 7pt;') ณ วันที่ #{sdate}
    table(style='font-size: 12pt;')
      thead
        tr
          th(style='font-size: 14pt; width: 100px;') เลขที่สั่งซื้อ
          th(style='font-size: 14pt;') วันที่สั่งซื้อ
          th(style='font-size: 14pt;') รายการเวชภัณฑ์
          th(style='font-size: 14pt;') ราคาต่อหน่วย
          th(style='font-size: 14pt; width:10px;') หน่วย
          th(style='font-size: 14pt; width:10px;').right จำนวน
          th(style='font-size: 14pt;').right ราคารวม
          th(style='font-size: 14pt;').center ชื่อบริษัท
      tbody
      - var y=0
        for b in results
          - y++
            tr
              td.center #{b.purchase_order_number}
              td.center #{b.order_date}
              td(style='padding-left:10px;') #{b.generic_name}
              td.center #{b.unit_price}
              td.center #{b.unit_name}
              td.right #{b.qty}
              //- td.center(style='padding-left: 5pt;') #{b.bgtype_name}
              td.right #{b.total_price}
              td(style='padding-left:10px;') #{b.labeler_name}
      tfooter          
        tr
          td.tbfooter(colspan='8' height='10')
        tr
          td(colspan='2')
          td.right(colspan='4') รวมทั้งสิ้น #{y} รายการ
          td.right ยอดรวม #{sum}
          td.left &nbspบาท
          