include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    .center(style='font-weight: bold; font-size: 12pt;') #{hospname}
    .center(style='font-weight: bold; font-size: 12pt;') รายงานสรุปรายการเวชภัณฑ์ที่สั่งซื้อ
    .center(style='padding-bottom: 7pt; font-size: 12pt;') วันที่ #{sdate} ถึง #{edate}
    .left(style='padding-bottom: 7pt; font-size: 12pt;') #{printDate} 
    table(style='font-size: 10pt;')
      thead
        tr
          th(style='font-size: 13pt;') เลขที่สั่งซื้อ
          th(style='font-size: 13pt;') วันที่สั่งซื้อ
          th(style='font-size: 13pt;') รายการเวชภัณฑ์
          th(style='font-size: 13pt;').right จำนวน
          th(style='font-size: 13pt;').right ราคารวม
          th(style='font-size: 13pt;').center ชื่อบริษัท
          th(style='font-size: 13pt;').center วันที่ส่ง
          th(style='font-size: 13pt;').center เลขที่ส่ง
      tbody
      - var y=0
        for b in results
          - y++
            tr
              td.center(style="padding-left: 5px;")
                if(b.purchase_order_book_number)
                  | #{b.purchase_order_book_number}
                else
                  | #{b.purchase_order_number}
              td.center #{b.order_date}
              td(style='width:280px; font-size:11pt; padding-left: 5px;') #{b.product_name}
              td.right(style='font-size:10pt;') #{b.qty} x #{b.conversion} #{b.primary_unit}  
              td.right #{b.total_price}
              td(style='padding-left:5px; font-size:12pt;') &nbsp;&nbsp;#{b.labeler_name_po}
              td.center #{b.delivery_date}
              td.center #{b.delivery_code}
      tfooter          
        tr
          td.tbfooter(colspan='6' height='10')
        tr
          td.left
          td.right(colspan='2') รวมทั้งสิ้น #{y} รายการ
          td.right(colspan='2') ยอดรวม #{sum} &nbsp;บาท