include css.pug
style(type='text/css').
  body{
    font-family:'THSarabunIT';
  }
style(type='text/css' media='print').
  @page{
  margin-top: 1.5cm;
  margin-left: 2.5cm;
  margin-right: 2cm;
  }
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success.btnprint(onclick='window.print()') Print
    table(style='width:100%;')
        tr
          td.center
            img(src=APIURL+'krut.png', height='128px')
    br
    .center ใบสั่งซื้อ/สั่งจ้าง
    br
    table(style='width:100%;')
        tr
            td.left(style='width:50%;') ผู้ขาย/ผู้รับจ้าง #{purchasing[i][0].labeler_name_po}
            td.left(style='width:50%;') ใบสั่งซื้อ/สั่งจ้างเลขที่ 
              if(purchasing[i][0].purchase_order_book_number)
                | #{purchasing[i][0].purchase_order_book_number}
              else
                | #{purchasing[i][0].purchase_order_number}
        tr
            td.left ที่อยู่ #{purchasing[i][0].address}
            td.left วันที่ #{purchasing[i][0].order_date}
        tr
            td.left 
            td.left ส่วนราชการ#{hospitalName}
        tr
            td.left โทรศัพท์ #{purchasing[i][0].phone}
            td.left ที่อยู่ #{hosaddress}
        tr
            td.left เลขประจำตัวผู้เสียภาษี #{purchasing[i][0].nin}
            td.left จังหวัด#{province}
        tr
            td.left เลขที่บัญชีเงินฝากธนาคาร  ............................................
            td.left โทรศัพท์ #{hostel}
        tr
            td.left ชื่อบัญชี  ............................................
            td.left
        tr
            td.left ธนาคาร  ............................................
            td.left
    br
    .fontspace
    | ตามที่ #{purchasing[i][0].labeler_name_po} ได้เสนอราคาไว้ต่อ#{hospitalName} ซึ่งได้รับราคาและตกลงซื้อ/จ้าง ตามรายการต่อไปนี้
    table(style='font-size: 13pt;')
      thead
        tr 
          td(style='font-size: 11pt; border: 1px solid black; vertical-align: middle; width:4%;').center ลำดับ
          td(colspan='2' style='font-size: 11pt; border: 1px solid black; vertical-align: middle;').center รายการ
          td(style='font-size: 11pt; border: 1px solid black; vertical-align: middle;').center จำนวน
          //- td(style='font-size: 11pt; border: 1px solid black; vertical-align: middle;').center หน่วย
          td(style='font-size: 11pt; border: 1px solid black; vertical-align: middle;').center ราคาต่อหน่วย(บาท)
          td(style='font-size: 11pt; border: 1px solid black; vertical-align: middle;').center จำนวนเงิน(บาท)
          td(style='font-size: 11pt; border: 1px solid black; vertical-align: middle;').center ราคากลาง(บาท)
      tbody
        - var y=0
            for b in purchasing[i]
              - y++
                tr
                  td.center(style='border: 1px solid black;') #{y}
                  td(colspan='2' style='border: 1px solid black;font-family:THSarabunNew;') #{b.generic_id} : #{b.generic_name}
                  td.center(style='border: 1px solid black;') #{b.qtyPoi} x #{b.conversion} #{b.primary_unit}
                  //- td.center(style='border: 1px solid black;') #{b.unit_name}
                  td.right(style='border: 1px solid black;') #{b.unit_price}
                  td.right(style='border: 1px solid black;') #{b.sumcost}
                  td.right(style='border: 1px solid black;') #{b.standard_cost}
        tr
          td(rowspan='4' colspan='3' style='font-weight: bold; border: 1px solid black; vertical-align: bottom;').center (#{arrayBahtText[i]})
        tr
          td(colspan='2' style='border: 1px solid black;').right รวมเป็นเงิน
          td(style='border: 1px solid black;').right #{arrayTotal[i]}
        tr
          td(colspan='2' style='border: 1px solid black;').right ภาษีมูลค่าเพิ่ม
          td(style='border: 1px solid black;').right #{purchasing[i][0].vat}
        tr
          td(colspan='2' style='border: 1px solid black;').right รวมเป็นเงินทั้งสิ้น
          td(style='border: 1px solid black;').right #{arrayNet[i]}
      //- tr
      //-   td
      //-   td(colspan='7').right รวม #{y} รายการ รวมเป็นเงิน #{arrayTotal[i]} บาท
      //- tr
      //-   td
      //-   td(colspan='7').right (ตัวอักษร) (#{arrayBahtText[i]})
    span(style='font-size: 14pt;')
      br
      | การซื้อ/สั่งจ้าง อยู่ภายใต้เงื่อนไขต่อไปนี้
      br
      | 1.กำหนดส่งมอบภายใน #{purchasing[i][0].delivery} วัน นับถัดจากวันที่ผู้รับจ้างได้รับใบสั่งซื้อ
      br
      | 2.ครบกำหนดส่งมอบวันที่ #{limitDate[i]}
      br
      | 3.สถานที่ส่งมอบ#{hospitalName}
      br
      | 4.ระยะเวลารับประกัน 1 ปี
      br
      | 5.สงวนสิทธิ์ค่าปรับกรณีส่งมอบเกินกำหนด โดยคิดค่าปรับเป็นรายวันในอัตราร้อยละ 0.2 ของราคาสิ่งของที่ยังไม่ได้รับมอบแต่จะต้องไม่ต่ำกว่าวันละ 100.00 บาท
      br
      | 6.ส่วนราชการขอสงวนสิทธิ์ที่จะไม่รับมอบถ้าปรากฎว่าสินค้านั้นมีลักษณะไม่ตรงตามรายการที่ระบุไว้ในใบสั่งซื้อ กรณีนี้ผู้รับจ้างจะต้องดำเนินการเปลี่ยนใหม่ให้ถูกต้องตามใบสั่งซื้อทุกประการ
      br
      | 7.ผู้กรณีงานจ้าง ผู้จ้างจะต้องไม่เอางานทั้งหมดหรือแต่บางส่วนแห่งสัญญานี้ไปจ้างช่วงอีกทอดนึง เว้นแต่การจ้างช่วงงานแต่บางส่วนที่ได้รับอนุญาติเป็นหนังสือจากผู้ว่าจ้างแล้ว การที่ผู้ว่าจ้างได้อนุญาติให้จ้างช่วงงานแต่บางส่วนดังกล่าวนั้น ไม่เป็นเหตุให้ผู้รับจ้างหลุดพ้นจากความรับผิดหรือพ้นพันธะหน้าที่ตามสัญญานี้ และผู้รับจ้างจะยังคงต้องรับผิดและความประมาทเลินเล่อของผู้รับจ้างช่วง หรือของตัวแทน
      br
    br
    br
    br
    div(style="width:100%;float:left;")
    div(style="width:50%;float:left;text-align:center") ลงชื่อ.................................................ผู้สั่งซื้อ/จ้าง
      if(arrayChief[i][0].chief_id===null)
        |
        br
        |
        br
        | 
      else
        br 
        | ( #{arrayChief[i][0].chief_fullname} )
        br
        | #{arrayChief[i][0].chief_position}
    div(style="width:50%;float:left;text-align:center") ลงชื่อ.................................................ผู้รับใบสั่งซื้อ
      if(cposition=='')
        |
        br
        |
        br
        | 
      else 
        //- | ( #{purchasingChief.chief_fullname} )
        br
        | (............................................................)
        br
        | วันที่............................................................
      br
.pagebreak