include css.pug
doctype html
style(type='text/css' media='print').
   @page{
   margin-top: 0.5cm;
   margin-left: 0.5cm;
   margin-right: 0.5cm;
   }
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    br
    for  i in tradingList
      .center 
        .bold #{hospitalName}
        .bold ประวัติการสั่งซื้อ
      br
      | รหัสสามัญ #{i[0].generic_code}
      br
      | ชื่อสามัญ #{i[0].generic_name}
      br 
      | ณ วันที่ #{date}
      center
        table(style='border:2')
          thead
            tr
              th.center ลำดับ
              th.left &nbsp;ชื่อการค้า
              th.left เลขที่ใบสั่งซื้อ
              th.right สัญญา
              th.right จำนวน
              th.right ขนาดบรรจุ
              th.right จำนวนรวม
              th.right ราคาต่อแพค
              th.right ราคารวม
          tbody
            - var y=0
              for  x in i
                - y++
                  tr
                    td.center(width='4px') #{y}
                    td.left(width='200px') #{x.product_name}
                    td.left(width='100px') &nbsp;#{x.purchase_order_number}
                    td.right -
                    td.right #{x.qty}
                    td.right #{x.large_unit_name} (#{x.conversion_qty} #{x.small_large_unit_name})
                    td.right #{x.amount_qty} #{x.small_large_unit_name}
                    td.right #{x.unit_price}
                    td.right #{x.total_price}                    
          tfooter
            tr
              td(colspan='9').tbfooter
        .pagebreak