include css.pug
style(type='text/css').
  body{
    font-family:'THSarabunIT';
  }
style(type='text/css' media='print').
   @page{
   margin-top: 1cm;
   margin-left: 1cm;
   margin-right: 1cm;
  }
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success.btnprint(onclick='window.print()') Print
    .center 
      img(src=APIURL+'krut.png', height='130px')
      br
      br
      label(style='margin-top: 5px; font-size: 16pt; font-weight: bold;')  &nbsp;#{hospitalName}
      br
      label(style='margin-top: 5px; font-size: 16pt; font-weight: bold;')  
        | ใบ
        if(purchasing[0].purchase_order_book_number)
          | &nbsp;#{purchasing[0].purchase_order_book_number}
        else
          | &nbsp;#{purchasing[0].purchase_order_number}
        | &nbsp;อนุมัติสั่งซื้อ
      br
    .right 
      div(style='margin-right: 10%;')
        | เลขที่
        if(purchasing[0].purchase_order_book_number)
          | &nbsp;#{purchasing[0].purchase_order_book_number}
        else
          | &nbsp;#{purchasing[0].purchase_order_number}
        br
        | วันที่ &nbsp;#{purchasing[0].order_date}
    .left เรียน #{purchasing[0].labeler_name_po}
    .left #{hospitalName} ขอซื้อเวชภัณฑ์ยา ตามรายการต่อไปนี้
    table(style='font-size: 13pt;')
      thead
        tr 
          td(rowspan='2' style='font-size: 11pt; border: 1px solid black; vertical-align: middle; width:4%;').center ลำดับ
          td(rowspan='2' style='font-size: 11pt; border: 1px solid black; vertical-align: middle;').center รหัส/รายการยา
          td(rowspan='2' style='font-size: 11pt; border: 1px solid black; vertical-align: middle;').center คงเหลือ
          td(colspan='3' style='font-size: 11pt; border: 1px solid black; vertical-align: middle;').center ความต้องการซื้อครั้งนี้
          td(rowspan='2' style='font-size: 11pt; border: 1px solid black; vertical-align: middle;').center ราคากลาง
          td(rowspan='2' style='font-size: 11pt; border: 1px solid black; vertical-align: middle;').center ราคาซื้อหลังสุด
        tr
          td(style='border: 1px solid black; font-size: 11pt;').center จำนวน
          td(style='border: 1px solid black; font-size: 11pt;').center ราคา @
          td(style='border: 1px solid black; font-size: 11pt;').center ราคารวม
      tbody
        - var y=0
            for b in purchasing
              - y++
                tr
                  td.center(style='border: 1px solid black;') #{y}
                  td(style='border: 1px solid black;font-family:THSarabunNew; font-size:11pt;') #{b.generic_id} : #{b.generic_name}
                  td.center(style='border: 1px solid black;') #{b.qty} x #{b.conversion} #{b.primary_unit}
                  td.center(style='border: 1px solid black;') #{b.qtyPoi} x #{b.conversion} #{b.primary_unit}
                  td.right(style='border: 1px solid black;') #{b.unit_price}  
                  td.right(style='border: 1px solid black;') #{b.total_price}
                  td.right(style='border: 1px solid black;') #{b.standard_cost} /
                    label(style = 'font-size: 11pt;')   #{b.primary_unit}
                  td.right(style='border: 1px solid black;') #{b.unit_price} /
                    label(style = 'font-size: 11pt;')   #{b.primary_unit}
        tr
          td
          td(colspan='7').right รวม #{y} รายการ รวมเป็นเงิน #{total} บาท
        tr
          td
          td(colspan='7').right (ตัวอักษร) (#{bahtText})
    br
    div(style='width: 50%; float: left; font-size: 14pt;')
      .left.bold(style='text-decoration: underline;') การสั่งซื้อ / จ้าง อยู่ภายใต้เงื่อนไขดังต่อไปนี้
      .left 1.กำหนดส่งมอบภายใน #{purchasing[0].delivery} วันทำการ 
      .left นับถัดจากวันที่ผู้ขาย/ผู้รับจ้าง 
      .left 2.สถานที่ส่งมอบ ณ #{hospitalName} 
      .left 3.ระยะเวลาประกัน 12 เดือน 
      .left 4.สงวนสิทธิค่าปรับกรณีส่งมอบเกินกำหนดเวลา
      .left โดยคิดค่าปรับเป็นรายวันดังนี้ 
      .left &nbsp;&nbsp;&nbsp; ซื้อในอัตราร้อยละ 0.20 ของราคาพัสดุ
      .left ที่ยังไม่ได้รับมอบ 
      .left &nbsp;&nbsp;&nbsp; จ้างในอัตราร้อยละ 0.10 ของราคางานจ้างนั้น 
      .left แต่จะต้องไม่ต่ำกว่าวันละ 100 บาท 
      .left 5.ราคาต่อหน่วยต้องเป็นราคาที่ได้รวมภาษีมูลค่าเพิ่มไว้แล้ว
    br
    div(style='width: 50%; float: left;')
      table.table
        tr 
          td(style='font-size:14pt;').right ลงชื่อ
          td(style='font-size:14pt;').center ...................................................
          td(style='font-size:14pt;').left ผู้ออกใบสั่งซื้อ/จ้าง
        tr
          td(style='font-size:14pt;').right
          td(style='font-size:14pt;').center #{purchasingChief.buyer_fullname}
          td(style='font-size:14pt;').left #{bposition.position_name}
        tr
          td(colspan=3 height='30px')
        tr  
          td(style='font-size:14pt;').right ลงชื่อ
          td(style='font-size:14pt;').center ...................................................
          td(style='font-size:14pt;').left ผู้รับใบสั่งซื้อ/จ้าง
        tr
          td(style='font-size:14pt;').right
          td(style='font-size:14pt;').center
          td(style='font-size:14pt;').left ตัวแทนกิจการ
        tr
          td(colspan=3 height='30px')
        tr 
          td(style='font-size:14pt;').right ลงชื่อ
          td(style='font-size:14pt;').center ...................................................
          td(style='font-size:14pt;').left ผู้สั่งซื้อ/จ้าง
        tr
          td(style='font-size:14pt;').right
          td(style='font-size:14pt;').center 
           | #{poraor}
           br
           | นายแพทย์เชี่ยวชาญ (ด้านเวชกรรม)
           br
           | ผู้อำนวยการ#{hospitalName}
          td(style='font-size:14pt;').left
          //- td.left ผู้อำนวยการ#{hospitalName}
    //- div(style="width:100%;float:left;text-align:center") อนุมัติ
    //-   br
    //-   br
    //-   br
    //-   br
    //-   br
    //-   br
    //-   | ลงชื่อ............................................................
    //-   br
    //-   if(!poraor)
    //-     |(.....................................................)
    //-   else
    //-     | #{poraor}
    //-   br
    //-   | ผู้อำนวยการ#{hospitalName}
    //-   br
    //-   if(purchasing[0].bid_id==2) 
    //-     | ปฏิบัติราชการแทนผู้ตรวจกระทรวงเขต 4
    //-   if(purchasing[0].bid_id!=2) 
    //-     | #{chief}