//- include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success.btnprint(onclick='window.print()') Print
    img(src=APIURL+'krut.png', height='60px')
    .headkut.bold(style="font-size: 24pt;") บันทึกข้อความ
    p.h2
      | ส่วนราชการ
      label.h3(style='margin-top: 5px; font-size: 16pt;')  &nbsp;#{hospitalName} #{dept} โทร. #{hostel}
    p.h2(style='width:50%;float: left;')
      | ที่
      label.h3(style='margin-top: 5px;')  
        if(purchasing[i][0].purchase_order_book_number)
          | &nbsp;#{purchasing[i][0].purchase_order_book_number}
        else
          | &nbsp;#{purchasing[i][0].purchase_order_number}
    b.h2(style='width:50%;float: left;')
      | วันที่ 
      label.h3(style="font-size: 16pt;") &nbsp;#{purchasing[i][0].order_date}
    b.h2(style='border: 1px solid white; width:75%; float: left;') เรื่อง
      |  รายงานผลการพิจารณาและขออนุมัติสั่งซื้อยา/เวชภัณฑ์มิใช่ยา
    br
    br
    hr
    .enter เรียน หัวหน้าเจ้าหหน้าที่
    .fontspace
    | ตามที่บันทึกรายงานขออนุมัติจัดซื้อที่ 
    if(purchasing[i][0].purchase_order_book_number)
      | &nbsp;#{purchasing[i][0].purchase_order_book_number} 
    else
      | &nbsp;#{purchasing[i][0].purchase_order_number} 
    | ลงวันที่ #{purchasing[i][0].order_date} ได้รับอนุมัติให้ซื้อยาจำนวน #{y} รายการ ในวงเงิน #{arrayTotal[i]} บาทนั้น ขอรายงานผลการพิจารณาซื้อยาจำนวน #{y} รายการ โดยวิธี#{arrayBid[i][0].name} ดังนี้
    br
    table
      thead
        tr 
          td(style='font-size: 13pt; border: 1px solid black; vertical-align: middle;').center รายการพิจารณา
          td(style='font-size: 13pt; border: 1px solid black; vertical-align: middle;').center รายชื่อผู้ยื่นข้อเสนอ
          td(style='font-size: 13pt; border: 1px solid black; vertical-align: middle;').center ราคาที่เสนอ*
          td(style='font-size: 13pt; border: 1px solid black; vertical-align: middle;').center ราคาที่ตกลงซื้อหรือจ้าง*
      tbody
      - var y=0
          for b in purchasing[i]
            - y++
              tr
                td(style='border: 1px solid black;font-family:THSarabunNew; font-size:12pt;') #{b.generic_id} : #{b.generic_name}
                td.left(style='border: 1px solid black; font-size:12pt;') #{b.labeler_name_po}
                td.right(style='border: 1px solid black; font-size:12pt;') #{b.total_price}
                td.right(style='border: 1px solid black; font-size:12pt;') #{b.total_price}
      tr
        td(colspan='3' style='border: 1px solid black;').right รวม
        td(colspan='1' style='border: 1px solid black;').right #{arrayTotal[i]} บาท
    .enter
    | * ราคาที่เสนอ และราคาที่ตกลงซื้อหรือจ้าง เป็นราคารวมภาษีมูลค่าเพิ่มและภาษีอื่น ค่าขนส่ง ค่าจดทะเบียน และค่าใช้จ่ายอื่นๆ ทั้งปวง
    .enter
    | โดยเกณฑ์การพิจารณาผลการยื่นข้อเสนอครั้งนี้ จะพิจารณาตัดสินโดยใช้หลักเกณฑ์ราคา โรงพยาบาลบางระจันพิจารณาแล้ว เห็นสมควรจัดซื้อจากผู้เสนอราคาดังกล่าว จึงเรียนมาเพื่อโปรดพิจารณา หากเห็นชอบขอได้โปรดอนุมัติให้สั่งซื้อสั่งจ้างจากผู้เสนอราคาดังกล่าว
    br
    br
    div(style='margin-left: 40%; width: 60%; text-align:center;')
      | ลงชื่อ.................................................เจ้าหน้าที่
      if(arrayChief[i][0].buyer_id===null)
        |
        br
        |
        br
        | 
      else
        br
        | ( #{arrayChief[i][0].buyer_fullname} )
        br 
        | #{arrayChief[i][0].buyer_position}
    br
    br
    br
    div(style='margin-left: 40%; width: 60%; text-align:center;')
      | อนุมัติ
      br
      br
      br
      br
      | ลงชื่อ.................................................หัวหน้าเจ้าหน้าที่
      if(arrayChief[i][0].chief_id===null)
        |
        br
        |
        br
        | 
      else
        br
        | ( #{arrayChief[i][0].chief_fullname} )
        br 
        | #{arrayChief[i][0].chief_position}