//- include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success.btnprint(onclick='window.print()') Print
    img(src=APIURL+'krut.png', height='60px')
    .headkut.bold(style="font-size: 24pt;") บันทึกข้อความ
    p.h2
      | ส่วนราชการ
      label.h3(style='margin-top: 5px; font-size: 16pt;')  &nbsp;#{hospitalName}
    p.h2(style='width:50%;float: left;')
      | ที่
      label.h3(style='margin-top: 5px;')  
        if(purchasing[i][0].purchase_order_book_number)
          | &nbsp;#{purchasing[i][0].purchase_order_book_number}
        else
          | &nbsp;#{purchasing[i][0].purchase_order_number}
    b.h2(style='width:50%;float: left;')
      | วันที่ 
      label.h3(style="font-size: 16pt;") &nbsp;#{purchasing[i][0].order_date}
    b.h2(style='border: 1px solid white; width:75%; float: left;') เรื่อง
      |  รายงานผลการพิจารณาและขออนุมัติสั่งซื้อยา/เวชภัณฑ์มิใช่ยา
    br
    br
    hr
    .enter เรียน ผู้ว่าราชการจังหวัด#{province}
    .fontspace
    | ขอรายงานผลการพิจารณาซื้อยาจำนวน #{purchasing[i].length} รายการ โดย#{arrayBid[i][0].name} ดังนี้
    br
    table
      thead
        tr 
          td(rowspan='2' style='font-size: 13pt; border: 1px solid black; vertical-align: middle; width:4%;').center ลำดับ
          td(rowspan='2' style='font-size: 13pt; border: 1px solid black; vertical-align: middle;').center รหัส/รายการยา
          td(rowspan='2' style='font-size: 13pt; border: 1px solid black; vertical-align: middle;').center คงเหลือ
          td(colspan='3' style='font-size: 13pt; border: 1px solid black; vertical-align: middle;').center ความต้องการซื้อครั้งนี้
          td(rowspan='2' style='font-size: 13pt; border: 1px solid black; vertical-align: middle;').center ราคากลาง
          td(rowspan='2' style='font-size: 13pt; border: 1px solid black; vertical-align: middle;').center ราคาซื้อหลังสุด
        tr
          td(style='border: 1px solid black; font-size: 13pt;').center จำนวน
          td(style='border: 1px solid black; font-size: 13pt;').center ราคา @
          td(style='border: 1px solid black; font-size: 13pt;').center ราคารวม
      tbody
        - var y=0
            for b in purchasing[i]
              - y++
                tr
                  td.center(style='border: 1px solid black; font-size:12pt;') #{y}
                  td(style='border: 1px solid black;font-family:THSarabunNew; font-size:12pt;') #{b.generic_id} : #{b.generic_name}
                  td.center(style='border: 1px solid black; font-size:12pt;') #{b.qty} x #{b.conversion} #{b.primary_unit}
                  td.center(style='border: 1px solid black; font-size:12pt;') #{b.qtyPoi} x #{b.conversion} #{b.primary_unit}
                  td.right(style='border: 1px solid black; font-size:12pt;') #{b.unit_price}
                  td.right(style='border: 1px solid black; font-size:12pt;') #{b.total_price}
                  td.right(style='border: 1px solid black; font-size:12pt;') #{b.standard_cost}
                  td.right(style='border: 1px solid black; font-size:12pt;') #{b.cost}
      tr
        td
        td(colspan='7').right รวม #{y} รายการ รวมเป็นเงิน #{arrayTotal[i]} บาท
      tr
        td
        td(colspan='7').right (ตัวอักษร) (#{arrayBahtText[i]})
    .fontspace
    | ระเบียบกระทรวงการคลังและกฎกรระทรวงว่าด้วยการจัดซื้อจัดจ้างภาครัฐจาก#{purchasing[i][0].labeler_name} อนึ่งในการจัดซื้อในครั้งนี้ใคร่ขอเสนอแต่งตั้งให้ผู้มีรายนามต่อไปนี้ เป็นกรรมการตรวจรับของ คือ
    table(style="width: 80%; margin-left:7%;")
      tbody
        -var b=0
        for c in arCommittee[i]
          - b++
          tr
            td #{b}. #{c.fullname}  
            td #{c.position_name}  
            td #{c.position}
      br
    .fontspace
    | จึงเรียนมาเพื่อโปรดพิจารณาอนุมัติ โดยใช้เงิน #{arBudget[i][0].bgtype_name} ประเภท#{arBudget[i][0].bgtypesub_name} ปี #{arBudget[i][0].bg_year} 
    br
    | ในการจัดซื้อในครั้งนี้ ซึ่งมีรายละเอียดการใช้เงินดังนี้
    br
    .fontspace
    table(style="width: 70%;")
      tbody
        tr 
          td ยอดเงินที่ได้รับจัดสรร
          td #{arBudget[i][0].amount} บาท
        tr 
          td ยอดจัดซื้อสะสมจากครั้งก่อน
          td #{arAllamount[i]} บาท
        tr 
          td ยอดเงินคงเหลือจากการซื้อครั้งนี้
          td #{arPcb[i][0].balance} บาท
    .fontspace 
    | เกณฑ์การพิจารณาผลการยื่นข้อเสนอครั้งนี้ จะพิจารณาตัดสินโดยใช้หลักเกณฑ์ราคาประกอบคุณภาพ
    br
    .fontspace
    | #{hospitalName}พิจารณาแล้ว เห็นสมควรจัดซื้อจากผู้เสนอราคาดังกล่าว
    br
    .fontspace
    | จึงเรียนมาเพื่อโปรดพิจารณา หากเห็นชอบขอได้โปรดอนุมัติให้สั่งซื้อสั่งจ้างจากผู้เสนอราคาดังกล่าว
    br
    br
    br
    div(style="width:100%;float:left;")
      div(style="width:50%;float:left;text-align:center") ลงชื่อ.................................................เจ้าหน้าที่
        if(arrayChief[i][0].buyer_id===null)
          |
          br
          |
          br
          | 
        else
          br
          | ( #{arrayChief[i][0].buyer_fullname} )
          br 
          | #{arrayChief[i][0].buyer_position}
      div(style="width:50%;float:left;text-align:center") ลงชื่อ.................................................หัวหน้าเจ้าหน้าที่
        if(arrayChief[i][0].chief_id===null)
          |
          br
          |
          br
          | 
        else
          br 
          | ( #{arrayChief[i][0].chief_fullname} )
          br
          | #{arrayChief[i][0].chief_position} 
    div(style="width:100%;float:left;text-align:center")
      br
      br
      br
      br
      br
      br
      | ลงชื่อ............................................................
      br
      | ( #{poraor} )
      br
      | ผู้อำนวยการ#{hospitalName}
      br
      if(purchasing[i][0].purchase_method_id==2) 
        | ปฏิบัติราชการแทนผู้ตรวจกระทรวงเขต 4
      if(purchasing[i][0].purchase_method_id!=2) 
        | #{chief}#{province}