include css.pug
doctype html
style(type='text/css' media='print').
   @page{
   margin-top: 0.5cm;
   margin-left: 1cm;
   margin-right: 1cm;
   }
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success(onclick='window.print()') Print
    - for(var a=0;a<num;a++)
        |
        br
        div(style='float: left;') เลขที่ #{array[a][0].purchase_order_number}
        br
        .center
          .bold #{hospname}
          .bold ใบสั่งซื้อเวชภัณฑ์
        .center
          b วันที่ #{nDate}
        br
        | เรียน ผู้จัดการ/ผู้อำนวยการ #{array[a][0].labeler_name}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{hospname}ต้องการซื้อเวชภัณฑ์ รายการดังต่อไปนี้
        br
        br
        center
          table
            thead
              tr
                th(width='5%') ลำดับ&nbsp;
                th.center(width='50%') รายการ
                th(width='15%') จำนวนสั่งซื้อ
                th.right(width='15%') ราคาต่อหน่วย
                th.right(width='15%') จำนวนเงิน
            tbody
              - var y=0
                for b in array[a]
                  - y++
                    tr
                      td.center #{y}
                      td.left 
                        | #{b.generic_name} 
                        br
                        | ชื่อการค้า :  #{b.product_name}
                      td.center #{b.qty} x #{b.small_qty} #{b.unit_name}
                      td.right #{b.unit}
                      td.right #{b.total}
              -var count=15-y
              - for (var i = y; i < count; ++i) {
                tr
                  td(colspan='5') &nbsp;
              - }
            tfooter
              tr
                td.tbfooter(colspan='5' height='10px;')
              tr
                td.right.bold(colspan='5') รวมเป็นเงิน #{arraySum[a]} บาท
              tr
                td.right.bold(colspan='5')  (#{arraySumText[a]})
        .left.font14(style='padding-top: 15pt;') 1. กำหนดส่งมอบสิ่งของตามรายการข้างต้น ณ #{hospname} ภายใน #{array[a][0].delivery} วันนับจากวันที่ผู้ขายได้รับใบสั่งซื้อนี้ พร้อมใบส่งสินค้า(และสำเนา) 2 ฉบับ ใบวิเคราะห์คุณภาพ 1 ฉบับ
        .left.font14 2. ระยะเวลารับประกัน 12 เดือน
        .left.font14 3. สงวนสิทธิค่าปรับกรณีส่งมอบเกินกำหนดเวลา โดยคิดค่าปรับเป็นรายวันในอัตราร้อยละ 0.01 ของราคาสิ่งของที่ยังไม่ได้รับมอบ
        .left.font14 4. ผู้ขายต้องส่งมอบยาที่มีอายุการใช้ 1 ปีขึ้นไป
        br
        br
        table.table( style='float:left;width:50%;')
          tr
            td.center  
              | &nbsp;
          tr
            td.center   
              | &nbsp;
          tr
            td.center   
          tr
            td.center  
              if(chief[a]==1)
                | &nbsp;
              else 
                | &nbsp;
          tr
            td(height='40px')
          tr
            td.center  
              | &nbsp;
          tr
            td.center  
              | &nbsp;
          tr
            td.center  
              | &nbsp;
          tr
            td.center 
          tr.hideprint
            td 
              br
              br
          tr.hideprint(style="border:1px solid;")
            td 
          tr.hideprint
            td 
              br
              br
        table.table( style='float:right;width:50%;')
          tr
            td.center  ลงชื่อ......................................................ผู้สั่งซื้อ
          tr
            td.center   (#{getchief[a]})
          tr
            td.center   
          tr
            td.center  
              if(chief[a]==1)
                | ผู้อำนวยการ#{hospname}
              else 
                | หัวหน้าเจ้าหน้าที่
          tr
            td(height='40px')
          tr
            td.center  ลงชื่อ......................................................ผู้ขาย
          tr
            td.center  (......................................................)
          tr
            td.center  วันที่รับใบสั่งซื้อ_____/_________/_____
          tr
            td.center 
          tr.hideprint
            td 
              br
              br
          tr.hideprint(style="border:1px solid;")
            td 
          tr.hideprint
            td 
              br
              br
        .pagebreak