include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success.btnprint(onclick='window.print()') Print
    .bold.center ใบแสดงความบริสุทธิ์ใจในการจัดซื้อจัดจ้างทุกวิธีของหน่วยงาน
    .bold.center.br ในการเปิดเผยข้อมูลความขัดแย้งทางผลประโยชน์
    .bold.center.br ของหัวหน้าเจ้าหน้าที่ เจ้าหน้าที่ และคณะกรรมการตรวจรับ
    hr
    br
    table.center(style="width:70%;margin-left:20%")
      tr
        td.left ข้าพเจ้า
        td.left #{purchasing2.chief_fullname} 
        td.left หัวหน้ากลุ่มงาน
      tr
        td.left ข้าพเจ้า
        td.left #{purchasing2.buyer_fullname} 
        td.left หัวหน้าจัดซื้อ
      tr
        td.left ข้าพเจ้า
        td.left #{committee1} 
        td.left (คณะกรรมการตรวจรับ) 
      tr
        td.left ข้าพเจ้า
        td.left #{committee2} 
        td.left (คณะกรรมการตรวจรับ) 
      tr
        td.left ข้าพเจ้า
        td.left #{committee3} 
        td.left (คณะกรรมการตรวจรับ) 
    br
    br
    .fontspace 
    | ขอให้คำรับรองว่าไม่มีความเกี่ยวข้องหรือมีส่วนได้ส่วนเสียไม่ว่าโดยตรงหรือโดยอ้อมหรือผลประโยชน์ใดๆ ที่ก่อให้เกิดความขัดแย้งทางผลประโยชน์กับผู้ขายผู้รับจ้าง ผู้เสนอ หรือผู้ชนะประมูล หรือผู้มีส่วนเกี่ยวข้องที่เข้ามามีนิติสัมพันธ์และวางตัวเป็นกลางในการดำเนินการเกี่ยวกับการพัสดุ ปฏิบัติหน้าที่ด้วยจิตสำนึกด้วยความโปร่งใส สามารถให้มีผู้เกี่ยวข้องตรวจสอบได้ทุกเวลา มุ่งประโยชน์ส่วนรวมเป็นสำคัญ ตามที่ระบุไว้ในประกาศสำนักงานปลัดกระทรวงสาธารณสุขว่าด้วยแนวทางในหน่วยงานด้านการจัดซื้อจัดจ้าง พ.ศ. ๒๕๕๙
    br
    .fontspace
    | หากปรากฏว่าเกิดความขัดแย้งทางผลประโยชน์ระหว่างข้าพเจ้ากับผู้ขาย ผู้รับจ้าง ผู้เสนองาน หรือผู้ชนะประมูล หรือผู้มีส่วนเกี่ยวข้องที่เข้ามามีนิติสัมพันธ์ ข้าพเจ้าจะรายงานให้ทราบทันที
    br
    br
    br
    br
    br
    table.center(style="width:60%;margin-left:20%;")
      tr
        td.right(width='50px') ลงนาม
        td.center(width='180px') ..................................................
        td.left หัวหน้ากลุ่มงาน
      tr
        td
        td.center(height='50px') (#{purchasing2.chief_fullname})
        td
      tr
        td.right ลงนาม
        td.center ..................................................
        td.left หัวหน้าจัดซื้อ
      tr
        td
        td.center(height='50px') (#{purchasing2.buyer_fullname})
        td 
      tr
        td.right ลงนาม
        td.center ..................................................
        td.left (คณะกรรมการตรวจรับ) 
      tr
        td
        td.center(height='50px') (#{committee1})
        td 
      tr
        td.right ลงนาม
        td.center ..................................................
        td.left (คณะกรรมการตรวจรับ) 
      tr
        td
        td.center(height='50px') (#{committee2})
        td 
      tr
        td.right ลงนาม
        td.center ..................................................
        td.left (คณะกรรมการตรวจรับ) 
      tr
        td
        td.center(height='50px') (#{committee3})
        td 

//- ข้าพเจ้า  นางหารพย หาสกหว เจ้าหน้าที่พัสดุ
//- ข้าพเจ้า  นางหกหาก   กดหยไ (คณะกรรมการตรวจรับพัสดุ)
//- ข้าพเจ้า  นางหกหแอแาก   กดหยไ (คณะกรรมการตรวจรับพัสดุ)
//- ข้าพเจ้า  นายหมฟฟ   กดหยไ (คณะกรรมการตรวจรับพัสดุ)

//- ลงนาม…………………….หัวหน้าเจ้าหน้าที่พัสดุ
//- (นายกดากวด  ยสยยส)
//- ลงนาม…………………….เจ้าหน้าที่พัสดุ
//- (นายกดากวด  ยสยยส)
//- ลงนาม…………………….คณะกรรมการตรวจรับพัสดุ
//- (นายกดากวด  ยสยยส)
//- ลงนาม…………………….คณะกรรมการตรวจรับพัสดุ
//- (นายกดากวด  ยสยยส)
//- ลงนาม…………………….คณะกรรมการตรวจรับพัสดุ
//- (นายกดากวด  ยสยยส)
    