include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body
    button.btn.btn-sm.btn-success.btnprint(onclick='window.print()') Print
    table(style='width:100%;')
        tr
          td.center
            img(src=APIURL+'krut.png', height='128px')
    .center.bold ประกาศ#{hospitalName}
    .center.bold เรื่อง ประกาศผู้ชนะการเสนอราคา ซื้อยาจำนวน #{purchasing[i].length} รายการโดย#{arrayBid[i][0].name}
    .center
      | ---------------------------------------------------------
    .fontspace
    | ตามที่#{hospitalName} ได้มีโครงการ ซื้อยาจำนวน #{purchasing[i].length} รายการโดย#{arrayBid[i][0].name} นั้น
    br
    .fontspace
    - var y=0
          for b in purchasing[i]
            - y++
             | #{y}. #{b.generic_name}&nbsp;จำนวน #{b.qtyPoi} #{b.unit_name}(#{b.conversion} #{b.primary_unit}) ผู้ได้รับคัดเลือกได้แก่ บริษัท #{b.labeler_name_po} (ส่งออก,ขายส่ง,ขายปลีก,ให้บริการ,ผู้ผลิต) โดยเสนอราคา เป็นเงินทั้งสิ้น #{b.total_price_item} บาท (#{b.total_price_item_text}) รวมภาษีมูลค่าเพิ่มและภาษีอื่น ค่าขนส่ง ค่าจดทะเบียน และค่าใช้จ่ายอื่นๆทั้งปวง
             br
             .fontspace
    br
    br
    .right ประกาศ ณ วันที่ #{purchasing[i][0].order_date}
    br
    br
    div(style="margin-left: 40%;width:80%;float:left;text-align:center")
      br
      br
      br
      | ลงชื่อ............................................................
      br
      | ( #{poraor} )
      br
      | ผู้อำนวยการ#{hospitalName}