//- include css.pug
doctype html
html
  head
    meta(charset="utf-8")
    title report
  body(style="font-size: 16pt;")
    button.btn.btn-sm.btn-success.btnprint(onclick='window.print()') Print
    img(src=APIURL+'krut.png', height='60px')
    .headkut.h1 บันทึกข้อความ
    br
    p.h2
      | ส่วนราชการ
      label.h3(style='margin-top: 5px; font-size: 16pt;')  &nbsp;#{hospitalName}
    p.h2(style='width:50%;float: left;')
      | ที่
      label.h3(style='margin-top: 5px;')
        if(purchasing[i][0].purchase_order_book_number)
          | &nbsp;#{purchasing[i][0].purchase_order_book_number}
        else
          | &nbsp;#{purchasing[i][0].purchase_order_number}
    b.h2(style='width:50%;float: left;')
      | วันที่ 
      label.h3(style="font-size: 16pt;") &nbsp;#{purchasing[i][0].order_date}
    b.h2(style='border: 1px solid white; width:50%; float: left;') เรื่อง
      |  รายงานขอซื้อขอจ้าง
    br
    br
    hr
    .enter เรียน ผู้ว่าราชการจังหวัด#{province}
    .fontspace
    | ด้วย#{hospitalName}มีความประสงค์จะ ซื้อยาจำนวน #{purchasing[i].length} รายการ โดย#{arrayBid[i][0].name} ซึ่งมีรายละเอียด ดังต่อไปนี้
    br
    .fontspace
    | 1.  เหตุผลและความจำเป็นที่ต้องซื้อ
    br
    .fontspace 
    | &nbsp;&nbsp; เพื่อให้บริการผู้ป่วยที่มารับบริการ และให้เพียงพอต่อการให้บริการผู้ป่วย
    br
    .fontspace 
    | 2.	รายละเอียดของพัสดุ
    br
    .fontspace 
    | &nbsp;&nbsp; รายละเอียดตามเอกสารแนบ
    br
    .fontspace
    | 3.  ราคากลางและรายระเอียดของราคากลางจำนวน #{purchasing[i][0].total_price} บาท (#{arrayBahtText[i]})
    br
    .fontspace 
    | 4.  วงเงินที่จะซื้อ
    br
    .fontspace 
    | &nbsp;&nbsp; เงินงบประมาณจาก จำนวน #{purchasing[i][0].total_price} บาท (#{arrayBahtText[i]})
    br
    | 5.	กำหนดเวลาที่ต้องการใช้พัสดุนั้น หรือให้งานแล้วเสร็จ
    - var y=0
      for b in purchasing[i]
        - y++
          .fontspace
          br
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.#{y} รายการพิจารณาที่ #{y} #{b.generic_name}
          br
          | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;กำหนดเวลาการส่งมอบพัสดุ หรือให้งานแล้วเสร็จภายใน #{purchasing[i][0].delivery} วัน นับจากวันลงนามในสัญญา
    .fontspace
    br
    .fontspace
    | 6.	วิธีที่จะซื้อ และเหตุผลที่จะซื้อ
    br
    .fontspace
    | &nbsp;&nbsp; ดำเนินการด้วย#{arrayBid[i][0].name} เนื่องจากการจัดซื้อจัดจ้างพัสดุที่มีการผลิต จำหน่าย ก่อสร้าง 
    br 
    | หรือให้บริการทั่วไปและมีวงเงินในการจัดซื้อจัดจ้างครั้งหนึ่งไม่เกินวงเงินตามที่กำหนดในกฎกระทรวง
    br
    if(purchasing[i].length > 10) 
      .pagebreak
    .fontspace
    | 7.	หลักเกณฑ์การพิจารณาคัดเลือกข้อเสนอ
    br
    .fontspace
    | &nbsp;&nbsp; การพิจารณาคัดเลือกข้อเสนอโดยใช้เกณฑ์ราคา
    br
    .fontspace 
    | 8.	การขออนุมัติแต่งตั้งคณะกรรมการต่าง ๆ
    br
    .fontspace
    | &nbsp;&nbsp; ผู้ตรวจรับพัสดุ
    br
    .fontspace
    table(style='margin-left: 5.5%; width: 80%;')
      tbody
      -var b=0
          for c in arCommittee[i]
            - b++
              tr
                td &nbsp;&nbsp; #{b}. #{c.fullname}  
                td #{c.position}
              tr  
                if(arCommittee[i].length > 1)
                  td(colspan='2') &nbsp;&nbsp; #{c.position_name}  
                else 
                  td(colspan='2') &nbsp;&nbsp; ผู้ตรวจรับพัสดุ
    .fontspace
    | &nbsp;&nbsp; อำนาจและหน้าที่
    br
    .fontspace 
    | &nbsp;&nbsp;&nbsp;&nbsp; ทำการตรวจรับพัสดุให้เป็นไปตามเงื่อนไขของสัญญาหรือข้อตกลงนั้น 
    br
    .fontspace 
    | จึงเรียนมาเพื่อโปรดพิจารณา หากเห็นชอบขอได้โปรด อนุมัติให้ดำเนินการ ตามรายละเอียดในรายงานขอซื้อดังกล่าวข้างต้น
    br
    .fontspace 
    br
    br
    br
    div(style="width:100%;float:left;")
      div(style="width:50%;float:left;text-align:center") ลงชื่อ.................................................เจ้าหน้าที่
        if(arrayChief[i][0].buyer_id===null)
          |
          br
          |
          br
          | 
        else
          br
          | ( #{arrayChief[i][0].buyer_fullname} )
          br 
          | #{arrayChief[i][0].buyer_position}
      div(style="width:50%;float:left;text-align:center") ลงชื่อ.................................................หัวหน้าเจ้าหน้าที่
        if(arrayChief[i][0].chief_id===null)
          |
          br
          |
          br
          | 
        else
          br 
          | ( #{arrayChief[i][0].chief_fullname} )
          br
          | #{arrayChief[i][0].chief_position}  
    div(style="width:100%;float:left;text-align:center")
      br
      br
      br
      | ลงชื่อ............................................................
      br
      | ( #{poraor} )
      br
      | ผู้อำนวยการ#{hospitalName}
      br
      if(purchasing[i][0].purchase_method_id==2) 
        | ปฏิบัติราชการแทนผู้ตรวจกระทรวงเขต 4
      if(purchasing[i][0].purchase_method_id!=2) 
        | #{chief}#{province}