doctype html
html
  head
    meta(charset="utf-8")
    title report
    style.
      html,
      body {
      margin: 0;
      padding: 10px;
      font-size: 10px;
      font-family: 'TH Sarabun New';
      }
      .small-space-line {
      line-height: 85%;
      }
      /*table*/
      table {
      border-spacing: 0;
      border-collapse: collapse;
      }
      td,
      th {
      padding: 0;
      }
      table {
      background-color: transparent;
      }
      caption {
      padding-top: 8px;
      padding-bottom: 8px;
      color: #777;
      text-align: left;
      }
      th {
      text-align: center;
      }
      .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
      }
      .table>thead>tr>th,
      .table>tbody>tr>th,
      .table>thead>tr>td,
      .table>tbody>tr>td {
      padding: 2px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #333232;
      }
      .table>tfoot>tr>th,
      .table>tfoot>tr>td {
      padding: 2px;
      line-height: 1.42857143;
      vertical-align: top;
      border: none;
      }
      .table>thead>tr>th {
      vertical-align: bottom;
      border-bottom: 2px solid #333232;
      }
      .table>caption+thead>tr:first-child>th,
      .table>colgroup+thead>tr:first-child>th,
      .table>thead:first-child>tr:first-child>th,
      .table>caption+thead>tr:first-child>td,
      .table>colgroup+thead>tr:first-child>td,
      .table>thead:first-child>tr:first-child>td {
      border-top: 1px solid #333232;
      }
      .table>tbody+tbody {
      border-top: 2px solid #333232;
      }
      .table .table {
      background-color: #fff;
      }
      .table-condensed>thead>tr>th,
      .table-condensed>tbody>tr>th,
      .table-condensed>tfoot>tr>th,
      .table-condensed>thead>tr>td,
      .table-condensed>tbody>tr>td,
      .table-condensed>tfoot>tr>td {
      padding: 1px;
      }
      /*.table-bordered {
      border: 1px solid #333232;
      }*/
      .table-bordered>thead>tr>th,
      .table-bordered>tbody>tr>th,
      .table-bordered>thead>tr>td,
      .table-bordered>tbody>tr>td {
      border: 1px solid #333232;
      }
      .table-bordered>thead>tr>th,
      .table-bordered>thead>tr>td {
      border-bottom-width: 2px;
      }
      .table-bordered>tfoot>tr>th,
      .table-bordered>tfoot>tr>td {
      border: none;
      }
      .table-striped>tbody>tr:nth-of-type(odd) {
      background-color: #f9f9f9;
      }
      .table-hover>tbody>tr:hover {
      background-color: #f5f5f5;
      }
      table col[class*="col-"] {
      position: static;
      display: table-column;
      float: none;
      }
      table td[class*="col-"],
      table th[class*="col-"] {
      position: static;
      display: table-cell;
      float: none;
      }
      .table>thead>tr>td.active,
      .table>tbody>tr>td.active,
      .table>tfoot>tr>td.active,
      .table>thead>tr>th.active,
      .table>tbody>tr>th.active,
      .table>tfoot>tr>th.active,
      .table>thead>tr.active>td,
      .table>tbody>tr.active>td,
      .table>tfoot>tr.active>td,
      .table>thead>tr.active>th,
      .table>tbody>tr.active>th,
      .table>tfoot>tr.active>th {
      background-color: #f5f5f5;
      }
      .table-hover>tbody>tr>td.active:hover,
      .table-hover>tbody>tr>th.active:hover,
      .table-hover>tbody>tr.active:hover>td,
      .table-hover>tbody>tr:hover>.active,
      .table-hover>tbody>tr.active:hover>th {
      background-color: #e8e8e8;
      }
      .table-responsive {
      min-height: .01%;
      overflow-x: auto;
      }
      table.center {
      margin-left: auto;
      margin-right: auto;
      }

  html
  body
    style(type='text/css').
      div.content{
      margin-left: 10%;
      width: 80%;
      display: inline-block;
      float: left;
      font-size: 16px;
      line-height: 1.5em;
      }
      table{
      font-size: 14px;
      }
      div.box{
      display: inline-block;
      float: left;
      width: 42%;
      }
    .content
      p(align='center')
        b บันทึกข้อความ
      .box(style='margin-left: 7%;')
        label
          | ส่วนราชการ โรงพยาบาลสิงห์บุรี 
          br
          | 			ที่  
          br
          | 			เรื่อง ขออนุมัติซื้อเวชภัณฑ์ 
          br
          | 			เรียน ผู้ว่าราชการจังหวัด
          br
      .box(style='margin-left: 5%;')
        br
        label
          | วันที่ #{date}
    .content(style='margin-top: 3%;')
      .box(style='margin-left: 7%; width: 50%')
        label(style='margin-left: 15%;') ด้วยเวชภัณฑ์ของโรงพยาบาลสิงห์บุรี
        br
        | 		รักษาพยาบาลได้ตลอดเวลา เห็นควรดำเนินการจัดซื้อโดยวิธี........
        br
        | 		ว่าด้วยการพัสดุ พ.ศ.2535 ข้อ 19 
        br
        | 		รายการดังต่อไปนี้
      .box
        | มีเหลือน้อยอาจจะไม่เพียงพอจะให้บริการ 
        br
        label(style='margin-left: 10%;')
          | ตามระเบียบสสำนักนายกรัฐมณตรี
        br
        label(style='margin-left: -10%;')
          | จากบริษัท#{lname}
    .content
      br
      table(border='1', width='100%', align='center')
        thead
          tr
            th(rowspan='2') ลำดับ
            th(rowspan='2') รายการ
            th(rowspan='2') คงเหลือ
            th(rowspan='2') อัตราใช้ต่อเดือน
            th(colspan='3') ความต้องการซื้อครั้งนี้
          tr(align='center')
            td จำนวน
            td ราคา
            td มูลค่ารวม
        tbody
        - var y=0
        - var sum=0
          for b in requisitionItem
            - y++
            - sum+=b.total_price
            tr
              td(align='center') #{y}
              td #{b.generic_name}
              td(align='center') 0
              td(align='center') 0
              td(align='center') #{b.qty}
              td(align='right') #{b.unit}
              td(align='right') #{b.total_price}
    .content(style='margin-top: 2%;')
      .box(style='margin-left: 7%;')
        | รวม #{y} รายการ ส่วนลด -
      .box
        | รวมเป็นเงิน #{sum} บาท
    .content
      p(style='margin-left: 7%;')
        | กำหนดส่งมอบภายใน 30 วัน และอนุมัติแต่งตั้งคณะกรรมการตรวจรับพัสดุ ประกอบด้วย
      p(style='margin-left: 7%;')
        - var t=0
          for n in name
            - t++
              | #{t}. #{n.fname} &nbsp&nbsp #{n.lname} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp #{n.p} &nbsp&nbsp เป็น #{n.position_name}
              br
      p(style='margin-left: 20%;')
        | จึงเรียนมาเพื่อโปรดพิจารณาอนุมัติ โดยใช้เงิน #{bgname} 2560 	
        br
        label(style='margin-left: -17%;')
          | ในการจัดซื้อครั้งนี้ ซึ่งมีรายละเอียดการใช้เงินดังนี้
      .box(style='margin-left: 20%; width: 30%;')
        | ยอดเงินที่ได้รับจัดสรร
        br
        | 		ยอดเงินจัดซื้อสะสมจากครั้งก่อน
        br
        | 		ยอดเงินคงเหลือก่อนซื้อครั้งนี้
        br
      .box(style='margin-left: 5%;')
        label
          | ......................บาท
        br
        label
          | ......................บาท
        br
        label
          | ......................บาท
        br
    .content
      .box(style='margin-left: \
      47%;')
        br
        p
          | ................................................เจ้าหน้าที่พัสดุ 
          br
          | 			(...............................................) 
          br
          label(style='margin-left: 8%;')
            | เภสัชกรชำนานการ
      .box(style='margin-left: \
      7%; margin-top: -10%;')
        br
        p
          label(style='margin-left: 7%;')
            | โปรดพิจารณาอนุมัติ
          br
          br
          | 			................................................ 
          br
          | 			(...............................................) 
          br
          label(style='margin-left: 3%;')
            | เภสัชกรชำนานการพิเศษ 
            br
            | 				&nbsp&nbsp&nbsp&nbsp&nbspหัวหน้าเจ้าหน้าที่พัสดุ
      .box(style='margin-left: \
      47%; margin-top: -25%;')
        br
        p
          label(style='margin-left: 18%;')
            | อนุมัติ
          br
          br
          | 			................................................ 
          br
          | 			(...............................................) 
          br
          label(style='')
            | ผู้อำนวยการโรงพยาบาลสิงห์บุรี
          br
          label(style='margin-left: -8%;')
            | ปัฏิบัติราชการแทนผู้ว่าราชการจังหวัดสิงห์บุรี